.root {
    -fx-background-color: linear-gradient(to bottom, #fcfcfc, #fcfaf2);
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-font-family: "Segoe UI";
}
.label {
    -fx-text-fill: #333333;
}
.button {
    -fx-background-color:#171511;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}
.button:hover {
    -fx-background-color: #121212;
}
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color: #453d31;
    -fx-border-radius: 8;
    -fx-border-width: 1.5;
    -fx-text-fill: #333333;
    -fx-padding: 0 10 0 10;
}
.text-field:focused {
    -fx-border-color: #61605f;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(198,134,66,0.3), 6, 0, 0, 0);
}
.text-field:disabled {
    -fx-opacity: 1;
    -fx-background-color: #f5f0e8;
    -fx-border-color: #e0cba8;
}
.menu-bar .menu {
    -fx-padding: 0 30px 0 30px;
}
.menu-bar .container {
    -fx-alignment: center;
}
.floating-card {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 12;
    -fx-padding: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 20, 0, 0, 8);
}
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #4d3902;
    -fx-border-radius: 8;
    -fx-background-radius: 5px 5px 0px 0px;
}